apiVersion: v1
kind: Config
preferences: ~
clusters:
- name: kube
  cluster:
    server: http://{{ kube_master_ip }}:8080
users:
- name: kube
  user: ~
contexts:
- name: kube
  context:
    cluster: kube
    user: kube
current-context: kube
