[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/kubernetes/kubernetes
Requires=kubelet.service
After=kubelet.service

[Service]
ExecStart=/usr/local/bin/hyperkube proxy \
--proxy-mode=iptables \
--master=http://{{ kube_master_ip }}:8080 \
--v=2
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
